{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}
 {{#with data}}
<div class="product-card">

<img src="{{img}}" alt={{title}} class="product-card_image">
<h2 class="product-card_title">{{title}}</h2>
<p class="product-card_subtitle">{{description}}</p>
</div>

{{#each category}}
<span class="product-card_category product-card_category--{{id}}">{{text}}</span>
{{/each}}
<a href="/purchase-product?id={{id}}">
{{>button text="Купити зараз"price =price}}
</a>
</div>
{{/with}}


{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}